@media only screen and (max-width : 480px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width : 366px) {
    div.header__topline button{
        padding: 5px 7px;
    }
    div.logo {
        font-size: 12px;
    }
}


@media only screen and (max-width : 360px) {
    .signin, .signup {
        max-width: 290px;
    }
    div.contact_list_wrapper, div.contact_card, div.contact_create, div.contact_update, div.profile_card {
        width: 280px;
    }
}


@media only screen and (max-width : 890px) {
    div.contact_row {
        flex-direction: column;
    }

    div.contact_list_wrapper {
        order: 1;
        margin: 10px auto;
    }

    div.contact_info {
        margin: 10px auto;
    }
}
